:root {
    font-size: 62.5%;
    --container-sm: 540px;
    --container-lg: 1200px;
    --container-xxl: 1320px;
    --color-primary: #9a83eb;
    --color-secondary: #fff5e7;
    --color-text: #333333;
    --color-border: #e0e0e0;
    --color-link: #ff4221;
    --color-hover: rgb(255, 0, 0);
    --color-box-shadow: 1px 1px 0 #3d007e, 2px 2px 0 #3226b6;
}

::-webkit-scrollbar {
    width: 1.5rem;
}

::-webkit-scrollbar:horizontal {
    height: 1.2rem;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 10px;
    border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
    background: #fd926f;
}

@font-face {
    font-family: "Lemon";
    src: url("fonts/Lemon-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
li,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-size: 1.6rem;
    font-family: "Lemon", serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--color-primary);
}

.container {
    width: min(100% - 2rem, var(--container-xxl));
    margin: 0 auto;
}

.df {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.logo {
    width: 12rem;
    height: 6rem;
    margin-right: 2rem;
}

.logo img {
    max-width: 100%;
}

.menu-wrapper {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    transition: all 0.3s ease;
    z-index: 1000;
}

.menu-wrapper.scrolled {
    background: #333333;
}

.menu {
    display: flex;
    width: 70%;
}

.menu.scrolled {
    transition: all 0.3s ease;
    background: rgba(0, 0, 0, 0.85);
}

.menu__list {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
}

.title {
    padding-top: 15rem;
    margin-bottom: 2rem;
    color: var(--color-link);
    text-shadow: var(--color-box-shadow);
}

.menu__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
    margin-right: 2rem;
}

.menu__list a {
    background-clip: text;
    transition: all .1s linear;
    color: var(--color-link);
    text-shadow: var(--color-box-shadow);
}

.menu__list a:hover {
    color: var(--color-hover);
}

.bg {
    background-image: url("img/0R0qY5pMQtmOlULYERXNOQ.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    margin-left: 1rem;
    height: auto;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 2rem;
    padding-left: 4rem;
    align-items: stretch
}

.list__text {
    position: relative;
    margin-bottom: 2rem;
    color: #fff;
    text-shadow: var(--color-box-shadow);
    font-size: 2rem;
}

.text_color_primary {
    color: #fd926f;
}

.list__text img {
    position: absolute;
    left: -2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    top: .2rem;

}

.btn {
    border: none;
    font-size: 2rem;
    padding: 1.5rem;
    font-family: 'Lemon';
    border-radius: 1rem;
    color: #fff;
    transition: all .1s linear;
    cursor: pointer;
    background-color: var(--color-link);
    box-shadow: var(--color-box-shadow);
}

.btn:hover {
    background: var(--color-hover);
}

.mb20 {
    margin-bottom: 2rem;
}

.pizzas {
    padding-top: 5rem;
    background-color: var(--color-secondary);


    height: 1000px;
}

.pizzas__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.pizzas__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.pizzas__column-img {
    overflow: hidden;
    max-width: 100%;
    height: auto;
    display: block;
    animation: spinning 200s infinite linear;
}

@keyframes spinning {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 960px) {
    .menu__item {
        font-size: 1.6rem;
    }

    .list__text {
        font-size: 1.6rem;
    }

    .pizzas__grid {
        gap: 1rem;
    }
}

.nav__list {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.burger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 1rem;
}

.burger__line {
    display: block;
    width: 5rem;
    height: .5rem;
    background: #000000;
    position: relative;
    transition: all .3s linear;
}

.burger__line::before,
.burger__line::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    left: 0;
    transition: all .3s linear;
}

.burger__line::before {
    top: -8px;
}

.burger__line::after {
    top: 8px;
}

@media (max-width: 768px) {
    .pizzas__grid {
        display: block;
    }

    .pizzas__column:last-child {
        display: none;
    }

    .pizzas__column-img {
        max-width: 50%;
        margin: 0 auto;
        margin-bottom: 5rem;
    }

    .title {
        padding-top: 5rem;
        transition: all .3s linear;
    }

    .menu {
        width: 100%;
        flex-direction: row-reverse;
    }

    .menu-wrapper {
        position: fixed;
        top: 0;
        left: -100%;
        width: 68%;
        height: 100vh;
        background: #333;
        transition: left 0.3s ease;
        z-index: 100;
        padding: 2rem;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    }

    .menu-wrapper.active {
        left: 0;
    }

    .menu__list {
        flex-direction: column;
        gap: 10rem;
    }

    .menu__item {
        font-size: 2.5rem;
    }

    .burger {
        display: block;
        position: fixed;
        top: 2rem;
        right: 0;
        z-index: 101;
    }

    .burger.active .burger__line {
        transition: all .3s linear;
    }

    .burger.active .burger__line::before {
        transform: rotate(45deg);
        top: 0;
        transition: all .3s linear;
    }

    .burger.active .burger__line::after {
        transform: rotate(-45deg);
        top: 0;
        transition: all .3s linear;
    }
}

.no-scroll {
    overflow: hidden;
}

.nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
}