:root {
    font-size: 62.5%;
    --container-sm: 540px;
    --container-lg: 1200px;
    --container-xxl: 1320px;
    --color-primary: #9a83eb;
    --color-secondary: #fff5e7;
    --color-text: #333333;
    --color-border: #e0e0e0;
    --color-link: #ff4221;
    --color-hover: rgb(255, 0, 0);
    --color-box-shadow: 1px 1px 0 #3d007e, 2px 2px 0 #3226b6;
}

::-webkit-scrollbar {
    width: 1.5rem;
}

::-webkit-scrollbar:horizontal {
    height: 1.2rem;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 10px;
    border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
    background: #fd926f;
}

@font-face {
    font-family: "Lemon";
    src: url("fonts/Lemon-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
li,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-size: 1.6rem;
    font-family: "Lemon", serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--color-primary);
}

.container {
    width: min(100% - 2rem, var(--container-xxl));
    margin: 0 auto;
}

.df {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.logo {
    width: 12rem;
    height: 6rem;
    margin-right: 2rem;
}

.logo img {
    max-width: 100%;
}

.menu-wrapper {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    transition: all 0.3s ease;
    z-index: 1111;
}

.menu-wrapper.scrolled {
    background: #333333;
}

.menu {
    display: flex;
    width: 70%;
}

.menu.scrolled {
    transition: all 0.3s ease;
    background: rgba(0, 0, 0, 0.85);
}

.menu__list {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
}

.title {
    overflow: hidden;
    position: relative;
    left: -100%;
    padding-top: 15rem;
    margin-bottom: 2rem;
    font-size: 4.5rem;
    color: var(--color-link);
    text-shadow: var(--color-box-shadow);
    transition: all 1s linear;
}

.menu__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
    margin-right: 2rem;
}

.menu__list a {
    background-clip: text;
    transition: all .1s linear;
    color: var(--color-link);
    text-shadow: var(--color-box-shadow);
}

.menu__list a:hover {
    color: var(--color-hover);
}

.banner {
    background-image: url("img/1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    margin-left: 1rem;
    height: auto;
}

.banner.active {
    opacity: 1;
    transition: all .5s linear;
}

.bg-changing {
    transition: opacity 0.5s ease;
    opacity: 0;
}

.list {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 2rem;
    padding-left: 4rem;
    padding-right: .2rem;
    padding-bottom: .2rem;
    margin-bottom: 2.5rem;
    align-items: stretch;
    z-index: 111;
}

.list__text {
    position: relative;
    opacity: 0;
    margin-bottom: 2rem;
    color: #fff;
    text-shadow: var(--color-box-shadow);
    font-size: 2rem;
    transition: all .5 linear;
}

.list__text.active {
    opacity: 1;
    transition: all .5s linear;
}

.text_color_primary {
    color: #fd926f;
}

.list__text img {
    position: absolute;
    left: -2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    top: .2rem;
}

.btn {
    border: none;
    font-size: 2rem;
    padding: 1.5rem;
    font-family: 'Lemon';
    border-radius: 1rem;
    color: #fff;
    transition: all .1s linear;
    cursor: pointer;
    background-color: var(--color-link);
    box-shadow: var(--color-box-shadow);
}

.btn:hover {
    background: var(--color-hover);
}

.btn-form {
    background-color: var(--color-text);
    margin-bottom: 2rem;
}

.mb20 {
    margin-bottom: 2rem;
}

.pizzas {
    padding-top: 5rem;
    background-color: var(--color-secondary);
}

.pizzas__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.pizzas__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.pizzas__column-img {
    overflow: hidden;
    max-width: 100%;
    height: auto;
    display: block;
    animation: spinning 200s infinite linear;
}

@keyframes spinning {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.nav__list {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.burger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 1rem;
}

.burger__line {
    display: block;
    width: 5rem;
    height: .5rem;
    background: var(--color-link);
    position: relative;
    transition: all .3s linear;
}

.burger__line::before,
.burger__line::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    left: 0;
    transition: all .3s linear;
}

.burger__line::before {
    top: -8px;
}

.burger__line::after {
    top: 8px;
}

.no-scroll {
    overflow: hidden;
}

.nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
}

.form {
    position: relative;
}

.feedback-form {
    position: relative;
    text-align: center;
    background-color: var(--color-secondary);
    margin-top: 20rem;
    border-radius: 3rem;
    border: 1px solid #93322c;
}
.feedback-form__decor {
    position: relative;
}
.feedback-form__decor img {
    overflow: hidden;
    position: absolute;
    width: 60rem;
    top: 75%;
    left: 46%;
    transform: translate(-40%, -75%);
    z-index: 110;
}

.form-title {
    margin-bottom: 2rem;
    padding-top: 4rem;
    font-size: 4.5rem;
    color: var(--color-link);
    text-shadow: var(--color-box-shadow);
    transition: all 1s linear;
    white-space: nowrap;
}

.checkbox-group {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.checkbox-group input {
    width: auto;
    margin-right: 10px;
}

.checkbox-group label {
    font-weight: normal;
    margin-bottom: 0;
}

.form-group input {
    width: 30rem;
    padding: 1rem;
    margin-bottom: .5rem;
    transition: all .1s linear;
    border-radius: .7rem;
    opacity: .9;
}

input:focus {
    outline: .1rem solid var(--color-link);
    border-color: var(--color-link);
    box-shadow: inset 0 0 0 .1rem var(--color-hover);
    transition: all .1s linear;
}

.form-group .checkbox {
    width: 1.7rem;
}

.footer {
    padding-top: 3rem;
    margin-bottom: 3rem;
}

.footer__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.social__list {
    display: flex;
    justify-content: center;
}

.social__item {
    display: flex;
    align-items: center;
    height: 5rem;
    margin-right: 2rem;
}

.social__link {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

.social__img {
    width: 4rem;
    vertical-align: top;
    transition: all .3s linear;
}

.social__img.fb:hover {
    filter: blur(1px) drop-shadow(2px 2px 3px rgb(0, 30, 255));
}

.social__img.linkedin:hover {
    filter: blur(1px) drop-shadow(2px 2px 3px rgb(55, 0, 255));
}

.social__img.tg:hover {
    filter: blur(1px) drop-shadow(2px 2px 3px rgba(0, 166, 255, 0.76));
}

.social__img.youtube:hover {
    filter: blur(1px) drop-shadow(2px 2px 3px rgb(255, 0, 0));
}

.policy {
    display: block;
    padding-top: 3rem;
    text-align: center;
    color: var(--color-link);
    text-shadow: var(--color-box-shadow);
    transition: all .3s linear;
}

.policy:hover {
    color: var(--color-hover);
}

.copyright {
    white-space: nowrap;
    display: block;
    padding-top: 2rem;
    color: var(--color-link);
    text-shadow: var(--color-box-shadow);
}

.use {
    padding-top: 3rem;
    color: var(--color-link);
    text-shadow: var(--color-box-shadow);
}

.use:hover {
    color: var(--color-hover);
}

.footer__column .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center
}

@media (max-width: 960px) {
    .menu__item {
        font-size: 1.6rem;
    }

    .list__text {
        font-size: 1.6rem;
    }

    .pizzas__grid {
        gap: 1rem;
    }

    .title {
        font-size: 3.5rem;
    }
}

@media (max-width: 768px) {
    .feedback-form__decor img {
        width: 45rem;
        top: 75%;
        left: 40%;
        transform: translate(-35%, -75%);
    }

    .pizzas__grid {
        display: block;
    }

    .pizzas__column:last-child {
        display: none;
    }

    .pizzas__column-img {
        max-width: 50%;
        margin: 0 auto;
        margin-bottom: 5rem;
    }

    .title {
        padding-top: 5rem;
        transition: all .3s linear;
    }

    .menu {
        width: 100%;
        flex-direction: row-reverse;
    }

    .menu-wrapper {
        position: fixed;
        top: 0;
        left: -100%;
        width: 68%;
        height: 100vh;
        background: #333;
        transition: left 0.3s ease;
        z-index: 100;
        padding: 2rem;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
        z-index: 1111;
    }

    .menu-wrapper.active {
        left: 0;
        z-index: 1111;
    }

    .menu__list {
        flex-direction: column;
        gap: 10rem;
    }

    .menu__item {
        font-size: 2.5rem;
    }

    .burger {
        display: block;
        position: fixed;
        top: 2rem;
        right: 0;
        z-index: 999;
    }

    .burger.active .burger__line {
        transition: all .3s linear;
    }

    .burger.active .burger__line::before {
        transform: rotate(45deg);
        top: 0;
        transition: all .3s linear;
    }

    .burger.active .burger__line::after {
        transform: rotate(-45deg);
        top: 0;
        transition: all .3s linear;
    }

    .footer__grid {
        grid-template-columns: 1fr;
    }

    .footer__column:first-child {
        order: 3;
    }

    .logo {
        margin: 0 auto;
    }

    .copyright {
        text-align: center;
    }

    .social {}
}

@media (max-width: 500px) {
    .feedback-form__decor img {
        width: 30rem;
        top: 75%;
        left: 36.6%;
        transform: translate(-33%, -75%);
    }

    .form-title {
        font-size: 3rem;
    }

    .form-group input {
        width: 25rem;
    }

    .menu-wrapper.active {
        width: 80%;
    }
}